.App {
  text-align: center;
}

.App-logo {
  height: 50px;
}

.App-header {
  background-color: #01c3a7;
  height: 150px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-button {
  color: #21314d;
  background-color: #01c3a7;
  border: 1px solid #21314d;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  padding: 10px;
  margin: 20px 10px;
  cursor: pointer;
}